ALPACA_API_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALPACA_API_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALPACA_CRYPTO_LOCATION=xx
ALPACA_DATA_BASE_URL=https://data.alpaca.markets
ALPACA_ENVIRONMENT=paper
ALPACA_TRADING_BASE_URL=https://paper-api.alpaca.markets/v2

ADDRESS_ETHEREUM_USDC=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADDRESS_ETHEREUM_USDT=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADDRESS_SOLANA_USDC=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADDRESS_SOLANA_USDT=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx